<!-- <section>
    <div class="container-fluid bg-dark position-relative" >
    <div class="section-title text-center p-5">
        <h4 class="text-white text-uppercase ">Lợi thế khi đồng hành cùng devi</h4>
        </div>
        <div class="row">
            <div class="col" >
               <div class="row">
                   <h1 class="text-secondary" style="font-size: 96px; font-weight: 900; font-style: normal; line-height: 112px">01</h1>
               </div>
               <div class="row">
                   <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. </p>
               </div>
                </div>
            <div class="col-md-3">
                    <div class="row">
                            <h1 class="text-secondary" style="font-size: 96px; font-weight: 900; font-family: Roboto; font-style: normal; line-height: 112px">02</h1>
                        </div>
                        <div class="row">
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. </p>
                        </div>
                </div>
            <div class="col-md-3">
                    <div class="row">
                            <h1 class="text-secondary" style="font-size: 96px; font-weight: 900; font-family: Roboto; font-style: normal; line-height: 112px">03</h1>
                        </div>
                        <div class="row">
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. </p>
                        </div>
                </div>
            <div class="col-md-3">
                    <div class="row">
                            <h1 class="text-secondary" style="font-size: 96px; font-weight: 900; font-family: Roboto; font-style: normal; line-height: 112px">04</h1>
                        </div>
                        <div class="row">
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. </p>
                        </div>
                </div>
        </div>    
    </div>
</section> -->

<section class="bg-dark m-0 pb-4 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-12 bg-dark text-white text-uppercase text-center py-3 " style="font-size: 20px">Lợi thế khi đồng hành cùng devi</div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-12 text-secondary" style="font-size: 96px; font-weight: 900; font-family: roboto; font-style: normal; line-height: 112px">01</div>
                    <div class="col-12">
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. </p></div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-12 text-secondary " style="font-size: 96px; font-weight: 900; font-family: roboto; font-style: normal; line-height: 112px">02</div>
                    <div class="col-12">
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-12 text-secondary " style="font-size: 96px; font-weight: 900; font-family: roboto; font-style: normal; line-height: 112px">03</div>
                    <div class="col-12">
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="row">
                    <div class="col-12 text-secondary " style="font-size: 96px; font-weight: 900; font-family: roboto; font-style: normal; line-height: 112px">04</div>
                    <div class="col-12">
                            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. </p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>



