<section class="bg-dark">
    <div class="container ">
        <div class="row py-5">
            <div class="col-12">
                    <div class="media">
                            <img src="https://via.placeholder.com/132x113/red" class="mr-3 pr-3" alt="...">
                            <div class="media-body p-0">
                              <h5 class="mt-0 text-light">Công ty cổ phần đào tạo nguồn nhân lực Việt Đức</h5>
                              <br>
                                   <h5 class="text-light">Địa chỉ: Km2 Đường Phan Trọng Tuệ, Ngách 168,</h5> 
                                   <h5 class="text-light">Số 1 Cụm Công nghiệp Huỳnh Cung,Tam Hiệp, Huyện Thanh Trì,</h5>
                                    <h5 class="text-light">TP Hà Nội</h5>
                                    <h5 class="text-light">Điện thoại: 0983098362</h5>
                                    <h5 class="text-light">Email: hn@devi.edu.vn</h5>
                                    <br>
                                    <h5 class="text-light">Tại Đức: Ông Quang Nguyễn</h5>
                                    <h5 class="text-light">Điện Thoại: 0049 152 1042 3936</h5>
                                    <h5 class="text-light">(Viber, WhatsApp) Email: Quangatd@gmail.com</h5>
                                    <img src="https://via.placeholder.com/42x55/red" class="mr-3 pt-3" alt="...">
                            </div>
                    </div>
            </div>
        </div>
    </div>
</section>