
    <section id="cover" style="background:#E5E5E5;">
        <div id="cover-caption">
            <div id="container" class="container py-5 d-flex justify-content-center" >
                <div class="row bg-white py-5 " style="width:620px; left:50%">
                    <div class="col-sm-10 offset-sm-1 text-center">
                        <h5 class=" pb-2 text-bold text-uppercase" style="font-size: 30px;">Đăng ký nhận tư vấn miễn phí</h5>
                        <div class="info-form">
                            <form action="" class="justify-content-center">
                                <div class="form-group pb-3">
                                    <h6 class="text-left pl-1">Số điện thoại</h6>
                                    <input type="text" class="form-control" placeholder="Số điện thoại">
                                </div>
                                <div class="form-group">
                                    <h6 class="text-left pl-1">Họ tên</h6>
                                    <input type="text" class="form-control" placeholder="Họ tên">
                                </div>
                                <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary ">Đăng ký</button>
                                    </div>
                            </form>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>



<!-- 

    <div class="container bg-light py-3">
    <div class="section-text ">
        <h4 class="text-uppercase text-bold text-center">đăng ký nhận tư vấn miễn phí    </h4>
    </div>
    <div class="row">
        <div class="col-12"><h5>Số điện thoại</h5> </div>
        <div class="col-12 text-left font-italic" style="border-radius: 50%;">
                <input type="text" placeholder="Số điện thoại">
            </div>
        <div class="col-12"><h5>Họ tên</h5> </div>
        <div class="col-12 text-left font-italic" style="border-radius: 50%;">
                <input type="text" placeholder="Số điện thoại">
            </div>    

    </div>
        <div class="col-12"><button type="submit">ĐĂNG KÝ</button> </div>
</div>
</section> -->