
<section id="intro" class= "py-5" style="background: #E5E5E5;">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="h5 text-uppercase mb-0 " style="letter-spacing: 0.2em;">Giới thiệu về Devi</h2>
    </div>

    <div class="row mt-4">
      <div class="col-lg-6">
        <p class="mb-0" style="font-family: Roboto; font-size: 20px; font-height:23px;"> 
          111 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum odio id auctor malesuada. Aliquam magna mauris, condimentum eu pulvinar eu, cursus sed eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque at ipsum ut justo dictum consectetur. Quisque non fermentum orci. Phasellus tellus mauris, malesuada id est et, fermentum scelerisque ex. Donec tincidunt nisl sit amet velit molestie sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at mi congue, accumsan sem vel, accumsan justo.
        </p>
      </div>
      <div class="col-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5Mu8VKQPQeI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</section>
