<section class="pb-5" style="background: #E5E5E5;">
        <section class="mb-0 shadow-sm p-1 bg-white rounded pb-4">
            <div class="container">
                <div class="section-title">
                    <h4 class="text-uppercase text-center pt-3 pb-3" style="letter-spacing: 0.2em;">Đối tác</h4>
                </div>
            </div>
        
            <div class="owl-carousel-1 owl-carousel owl-theme text-center text-white pb-5">
                <div class="px-1"><img src="https://via.placeholder.com/300x145/red" alt=""></div>
                <div class="px-1"><img src="https://via.placeholder.com/300x145/green" alt=""></div>
                <div class="px-1"><img src="https://via.placeholder.com/300x145/blue" alt=""></div>
                <div class="px-1"><img src="https://via.placeholder.com/300x145/black" alt=""></div>
                <div class="px-1"><img src="https://via.placeholder.com/300x145/yellow" alt=""></div>
                <div class="px-1"><img src="https://via.placeholder.com/300x145/red" alt=""></div>
    
            </div>
        </section>
    </section>