<section class="mb-1 pt-4" style="background: #E5E5E5;">
        <div class="container">
            <div class="section-title ">
                <h4 class="text-uppercase text-dark text-center pt-3 pb-3">Dịch Vụ Của Devi</h4>
            </div>
    
            <div class="row pb-5">
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div><img src="https://via.placeholder.com/300x200/red" alt="" ></div>
                </div>
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div><img src="https://via.placeholder.com/300x200/blue" alt="" ></div>
                </div>
                <div class="col-lg-4">
                    <div><img src="https://via.placeholder.com/300x200/green" alt="" ></div>
                </div>
            </div>
        </div>
    </section>