<section class="mb-5">
    <div class="container">
        <div class="section-title">
            <h1>Clip</h1>
            <hr>
        </div>

        <div class="row">
            <div class="col-md-6">
                <a href="#!" class="clip position-relative d-flex justify-content-center align-items-center" data-toggle="modal" data-target="#exampleModal">
                    <img src="https://via.placeholder.com/600x400" class="img-fluid w-100" alt="">
                    <span class="position-absolute">
                        <i class="clip-play fa fa-play-circle fa-4x"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
    </div>
</div>
</div>