<section class="mb-5">
    <div class="container">
        <div class="section-title">
            <h1>Owl Carousel</h1>
            <hr>
        </div>
    </div>

    <div class="owl-carousel-1 owl-carousel owl-theme text-center">
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">1</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">2</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">3</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">4</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">5</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">6</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">7</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">8</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">9</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">10</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">11</h4></div>
        <div class="item p-3 bg-dark text-white"><h4 class="mb-0">12</h4></div>
    </div>
</section>
