<!-- Paragraph -->
<section class="mb-5">
    <div class="container">
        <div class="section-title">
            <h1>Paragraph</h1>
            <hr>
        </div>
        <div>
            <div class="mb-3 p-3">
                <p class="lead">16px / 24px (1em) tét</p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>

            <div class="bg-dark p-3 mb-3">
                <p class="lead text-white">20px / 24px (1.25em) </p>
                <p class="h5 font-weight-normal text-white">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>

            <div class="bg-dark p-3">
                <p class="lead text-white">20px / 24px (1.25em) </p>
                <p class="font-size-96 text-muted">01</p>
            </div>
        </div>
    </div>
</section>

<!-- Title -->
<section class="mb-5">
    <div class="container">
        <div class="section-title">
            <h1>Title</h1>
            <hr>
        </div>
        <div class="bg-light p-3 mb-2">
            <h2 class="h5 text-uppercase mb-0">dịch vụ của devi</h2>
        </div>

        <div class="bg-dark p-3">
            <h2 class="h5 text-uppercase text-white mb-0">Lợi thế khi đồng hành cùng devi</h2>
        </div>
    </div>
</section>
